.content__container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content
{
    width: 1372px;
    height: 780px;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 50px;
}
.tasks__title
{
    width: 400px;
    margin: 0 auto;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}
.tasks__title h1
{
    font-size: 46px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
}
.tasks__flex__container
{
    padding: 0 45px;
    margin-top: 25px;
}
.tasks__flex
{
    display: flex;
    gap: 0 20px;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    height: 266px;
    /* background-color: white; */
}
.tasks__flex__block__parent
{
    flex: 0 0 240px;
    height: 234px;
}
.tasks__flex__block
{
    width: 240px;
    min-height: 234px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 27px;
    padding-bottom: 23px;
    overflow: hidden;
    /* transition: 0.5s; */
    background-color: white;
    align-self: flex-start;
    position: relative;
    z-index: 20;
}
.tasks__flex__block .title
{
    width: 194px;
    border-bottom: 2px solid black;
    margin: 0 auto;
    font-size: 21px;
    white-space: nowrap;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    height: 30px;
    z-index: 2;
    position: relative;
}
.tasks__flex__block .flex
{
    width: 216px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 2;
    position: relative;
    transition: 0.3s;
}
.tasks__flex__block .flex .task__create
{
    flex: 26px 0 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: #62ffa3ea;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.tasks__flex__block .flex .task
{
    flex: 26px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    font-weight: 500;
    position: relative;
}
.tasks__flex__block .flex .task .completed
{
    position: absolute;
    width: 26px;
    height: 26px;
    right: 0;
    top: 0;
    z-index: 1;
}
.tasks__flex__block .flex .task .replace
{
    position: absolute;
    width: 26px;
    height: 26px;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: white;
    border-radius: 100%;
}
.tasks__flex__block .flex .task.required
{
    background-color: white !important;
    color: red;
    font-weight: 500;
    text-align: center;
    border: 1px solid red;
    cursor: pointer !important;
}
.tasks__flex__block .flex .task span
{
    font-size: 10px;
}
.tasks__flex__block .flex .task .scrolling__parent
{
    width: 195px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.tasks__flex__block .flex .task .scrolling__parent p
{
    text-align: left;
    font-size: 15px;
    height: 18px;
    margin-bottom: 0;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    /* animation: scroll-text 5s linear infinite; */
}
.task__show__modal .scrolling__parent
{
    margin-left: 15px;
    width: 315px;
    overflow: hidden;
}
@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.tasks__flex__block .image
{
    position: relative;
    z-index: 0;
    width: 239px;
    height: 0;
    border-radius: 29px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}
.tasks__flex__block .p5
{
    background-color: #fd7373c9 !important;
}
.tasks__flex__block .p4
{
    background-color: #ffd448cb !important;
}
.tasks__flex__block .p3
{
    background-color: #ffff6bc5 !important;
}
.tasks__flex__block .p2
{
    background-color: #7cb0ffcb !important;
}
.tasks__flex__block .p1
{
    background-color: #8cff62c7 !important;
}
.unfinished .title
{
    text-align: center !important;
}
.unfinished
{
    background-color: #FFA4A4;
}
.unfinished .p5
{
    background-color: #fd7373 !important;
}
.unfinished .p4
{
    background-color: #FFD448 !important;
}
.unfinished .p3
{
    background-color: #FFFF6B !important;
}
.unfinished .p2
{
    background-color: #7CB1FF !important;
}
.unfinished .p1
{
    background-color: #8CFF62 !important;
}
.days__title
{
    width: 400px;
    margin: 0 auto;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}
.days__title h1
{
    font-size: 46px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    margin-top: 16px;
}
.days__flex__container
{
    padding: 0 45px;
    margin-top: 13px;
}
.days__flex
{
    height: 280px;
    display: flex;
    gap: 0 20px;
    box-sizing: border-box;
}
.days__flex__block__parent
{
    flex: 0 0 240px;
    height: 252px;
    position: relative;
}
.days__flex__block
{
    width: 240px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 27px;
    padding-bottom: 23px;
    overflow: hidden;
    transition: 0.3s;
    background-color: white;
    align-self: flex-start;
    position: relative;
    bottom: 0px;
    z-index: 50;
}
.days__flex__block .title
{
    margin: 0 auto;
    margin-top: 12px;
    height: 46px;
}
.days__flex__block .title h1
{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 21px;
    margin: 0;
    text-align: center;
}
.days__flex__block .title p
{
    font-size: 11px;
    text-align: center;
    margin: 0;
    padding-bottom: 4px;
}
.days__flex__block .flex
{
    width: 216px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 2;
    transition: 0.3s;
}
.days__flex__block .flex .first__task
{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: inset 0px 0px 24px 0px rgba(176, 75, 255, 1);
}
.days__flex__block .flex .task
{
    flex: 26px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    font-weight: 500;
    position: relative;
}
.days__flex__block .flex .task .completed
{
    position: absolute;
    width: 26px;
    height: 26px;
    right: 0;
    top: 0;
    z-index: 1;
}
.days__flex__block .flex .task .replace
{
    position: absolute;
    width: 26px;
    height: 26px;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: white;
    border-radius: 100%;
}
.days__flex__block .flex .task span
{
    font-size: 10px;
}
.days__flex__block .flex .task .scrolling__parent
{
    width: 195px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.days__flex__block .flex .task .scrolling__parent p
{
    text-align: left;
    font-size: 15px;
    height: 18px;
    margin-bottom: 0;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    /* animation: scroll-text 5s linear infinite; */
}
.dragging__underline
{
    box-shadow: 0px 15px 10px -5px rgba(255,51,255,1);
}
.days__flex__block .flex .task span
{
    font-size: 10px;
}
.days__flex__block .p5
{
    background-color: #fd7373 !important;
}
.days__flex__block .p4
{
    background-color: #ffd448 !important;
}
.days__flex__block .p3
{
    background-color: #ffff6b !important;
}
.days__flex__block .p2
{
    background-color: #7cb0ff !important;
}
.days__flex__block .p1
{
    background-color: #8cff62 !important;
}
.task__create__modal
{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.task__create__modal .task__create
{
    width: 416px;
    border-radius: 47px;
    background-color: white;
}
.task__create__modal .task__create .title
{
    width: 330px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid black;
    margin-top: 20px;
}
.task__create__modal .task__create .title h1
{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 3px;
}
.task__create__modal .task__create .title h1 span
{
    font-size: 33px;
    padding-left: 3px;
}
.task__create__modal .task__create form
{
    width: 350px;
    margin: 0 auto;
}
.task__create__modal .task__create form .priority__parent
{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
}
.task__create__modal .task__create form .priority__parent .flex
{
    display: flex;
    width: 160px;
}
.task__create__modal .task__create form .priority__parent .flex svg
{
    width: 32px;
    height: 32px;
    padding-right: 6px;
}
.task__create__modal .task__create form .error
{
    font-size: 11px;
    margin: 0;
    color: red;
    height: 12px;
}
.task__create__modal .task__create form .form-submit
{
    text-align: center;
    padding-bottom: 25px;
}
.task__create__modal .task__create form .form-submit button
{
    margin-top: 30px;
    border: 0px;
    background-color: rgb(114, 255, 71);
    font-size: 21px;
    padding: 3px 35px;
    border-radius: 40px;
}
.task__create__modal .task__create form .form-submit button p
{
    margin: 0;
    position: relative;
}
.task__create__modal .task__create form .form-item label
{
    font-size: 20px;
}
.task__create__modal .task__create form .form-item input
{
    border: 1px solid black;
    font-size: 16px;
    border-radius: 0 13px 13px 13px;
    padding: 3px 12px;
}
.task__create__modal .task__create form .form-item textarea
{
    border: 1px solid black;
    font-size: 16px;
    border-radius: 0 13px 13px 13px;
    padding: 3px 12px;
    resize: none;
    overflow: hidden;
}
.dragging
{
    opacity: 1 !important;
}
.task__show__modal
{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.task__show__modal .task__show
{
    height: 416px;
    padding: 0 50px;
    border-radius: 50px;
    background-color: white;
    position: relative;
}
.task__show__modal .task__show .title
{
    width: 600px;
    margin: 0 auto;
    margin-top: 17px;
    border-bottom: 2px solid black;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.task__show__modal .task__show .title .name
{
    font-size: 34px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
}
.task__show__modal .task__show .title .flex
{
    display: flex;
    gap: 16px;
    align-items: center;
}
.task__show__modal .task__show .title .flex img
{
    width: 34px;
    height: 34px;
    cursor: pointer;
}
.task__show__modal .task__show .title .flex .close
{
    width: 27px;
    height: 27px;
}
.task__show__modal .task__show .content
{
    width: 605px;
    margin-top: 16px;
    height: auto;
}
.task__show__modal .task__show .content .priority
{
    width: 250px;
    height: 73px;
    border-radius: 17px;
    background-color: #b8bbff;
}
.task__show__modal .task__show .content h1
{
    font-size: 21px;
    padding-top: 7px;
    margin-bottom: 0;
    margin-left: 14px;
    font-weight: 400;
}
.task__show__modal .task__show .content .priority__levels
{
    display: flex;
    margin-left: 13px;
    margin-top: 4px;
    width: 150px;
}
.task__show__modal .task__show .content .priority__level
{
    padding-right: 4px;
}

.task__show__modal .task__show .content .date
{
    width: 260px;
    height: 73px;
    border-radius: 17px;
    background-color: #FF9393;
    margin-left: 17px;
}
.task__show__modal .task__show .content .date .text
{
    padding-top: 4px;
    font-size: 22px;
    margin-left: 15px;
    color: #211AFF;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}
.task__show__modal .task__show .content .date .text:hover
{
    text-decoration: none;
}
.task__show__modal .task__show .flex__parent
{
    width: 610px;
    display: flex;
    max-height: 217px;
}
.task__show__modal .task__show .content .left
{
    display: flex;
    flex-direction: column;
    height: 216px;
    width: 370px;
}
.task__show__modal .task__show .content .desc
{
    width: 360px;
    margin-top: 17px;
    border-radius: 17px;
    background-color: #A1F6FF;
    text-align: center;
    padding-bottom: 10px;
}
.task__show__modal .task__show .content .desc h1
{
    text-align: left;
}
.task__show__modal .task__show .content .desc p
{
    text-align: left;
    font-size: 14px;
    width: 334px;
    margin: 0 auto;
    padding: 5px 0;
}
.task__show__modal .task__show .content .desc textarea
{
    font-size: 14px;
    width: 342px;
    max-height: 65px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 8px;
    padding: 0 5px;
    border: 0;
    resize: none;
    border-radius: 5px
}
.task__show__modal .task__show .content .desc textarea:focus
{
    outline: 0.3px solid black;
}
.task__show__modal .task__show .content .goal
{
    display: inline-block;
    height: 73px;
    border-radius: 17px;
    background-color: #8AFF84;
    margin-top: 16px;
    max-width: 345px;
    overflow: hidden;
}
.task__show__modal .task__show .content .goal .text
{
    display: inline-block;
    font-size: 22px;
    color: #211AFF;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 0;
}
.task__show__modal .task__show .content .goal .text:hover
{
    text-decoration: none;
}
.task__show__modal .task__show .content .right
{
    margin-top: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.task__show__modal .task__show .content .comment__parent
{
    margin-top: auto;
    width: 100%;
    background-color: #F3A3FF;
    padding-bottom: 13px;
    padding-top: 20px;
    border-radius: 17px;
}
.task__show__modal .task__show .content .comment__input__parent
{
    width: 205px;
    height: 22px;
    display: flex;
    margin: 0 auto;
}
.task__show__modal .task__show .content .comment__input__parent input
{
    width: 187px;
    border: 0.3px solid black;
    border-right: 0;
    border-radius: 11px 0px 0px 11px;
    font-size: 13px;
    padding-left: 7px;
    background-color: #fff;
}
.task__show__modal .task__show .content .comment__input__parent input:focus
{
    outline: 0;
    border: 0.3px solid black;
    border-right: 0;
}
.task__show__modal .task__show .content .submit__parent
{
    width: 25px;
    height: 22px;
    border: 0.3px solid black;
    border-radius: 0px 11px 11px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.task__show__modal .task__show .content .submit__parent:hover
{
    background-color: rgb(63, 255, 143);
}
.task__show__modal .task__show .content .submit__parent img
{
    width: 12px;
    height: 12px;
}
.task__show__modal .task__show .content .comments
{
    max-height: 136px;
    width: 230px;
    margin-left: 10px;
    margin-bottom: 9px;
    gap: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: auto;
}
.task__show__modal .task__show .content .comment
{
    max-width: 210px;
    background-color: #73FFB9;
    border-radius: 9px;
    text-align: right;
    padding: 2px 0;
    margin-right: 9px;
    font-size: 0;
}
.task__show__modal .task__show .content .comment p
{
    display: inline-block;
    font-size: 12px;
    padding: 0 11px;
    margin-bottom: 0;
    line-height: 1.3;
}
.task__show__modal .task__show .content .comment p.datetime
{
    font-size: 9px;
    height: 12px;
}
.task__show__modal .task__show .complete__parent
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.task__show__modal .task__show .complete
{
    position: absolute;
    background-color: white;
    width: 374px;
    height: 43px;
    top: 23px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 9px 1px rgba(235, 75, 255, 1);
    cursor: pointer;
    transition: 0.2s;
}
.task__show__modal .task__show .complete:hover
{
    box-shadow: 0px 0px 9px 1px rgb(25, 255, 44);
}
.task__show__modal .task__show .complete p
{
    z-index: 1;
    font-size: 23px;
    margin: 0;
    position: relative;
    top: 4px;
}
.task__show__modal .task__show .complete img
{
    width: 374px;
    position: relative;
    top: -195px;
    z-index: 0;
}
