.title__rainbow{
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    overflow: hidden;
}
.title__rainbow::before{
    content: "";
    position: absolute;
    top:0;right:0;bottom:0;left:-100%;
    background: white repeating-linear-gradient(90deg, #14ffe9 0%, #ffc800 16.66666%, #ff00e0 33.33333%, #14ffe9 50.0%);
    mix-blend-mode: screen;
    pointer-events: none;
    animation: move 2s linear infinite;
}

@keyframes move{
    0%{transform: translateX(0);}
    100%{transform: translateX(50%);}
}

@supports not (mix-blend-mode: multiply) {
    .rainbow-text{
        background-clip: text !important;
        background: white repeating-linear-gradient(90deg, #14ffe9, #ffc800, #ff00e0, #14ffe9);
        text-shadow: none;
    }
    .title__rainbow::before{ content: none; }
}
.rainbow__parent{
    display: flex;
    align-items: center;
}

.login__text
{
    margin-left: 100px;
    margin-top: 150px;
    font-size: 80px;
    font-weight: 500;
    color: black;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.custom__underline__parent
{
    margin-top: 10%;
    margin-right: 16%;
}

@media (max-width: 999px)
{
    .d-flex > :nth-child(1)
    {
        display: none;
    }
    .d-flex > :nth-child(2)
    {
        width: 100% !important;
        text-align: center !important;
    }
    .custom__underline
    {
        text-align: center;
        margin: 0 !important;
    }
    .custom__underline__parent
    {
        margin: 0;
        margin-top: 10%;
    }
    .reg, .auth
    {
        margin: 0 !important;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .animate-in
    {
        transform: translate(-50%, 0%) !important;
    }
}
@media (min-width: 1000px) and (max-width: 1319px)
{
    .login__text
    {
        margin-top: 50px;
        font-size: 75px;
    }
    .text__rainbow
    {
        font-size: 85px;
    }
}
@media (min-width: 1320px) and (max-width: 1489px)
{
    .login__text
    {
        margin-top: 50px;
        font-size: 65px;
    }
    .text__rainbow
    {
        font-size: 70px;
    }
}
@media (min-width: 1490px) and (max-width: 1579px)
{
    .login__text
    {
        font-size: 75px;
    }
    .text__rainbow
    {
        font-size: 85px;
    }
}
@media (min-width: 1580px)
{
    .login__text
    {
        font-size: 80px;
    }
    .text__rainbow
    {
        font-size: 90px;
    }
}
.toggle__container
{
    overflow: hidden;
    height: 100%;
}
.auth, .reg
{
    position: absolute;
    right: 0%;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.auth
{
    width: 335px;
}
.reg {
    transform: translateX(100%);
    opacity: 0;
    width: 301px;
}

.animate-out {
    transform: translateX(100%);
    opacity: 0;
}

.animate-in {
    transform: translateX(0);
    opacity: 1;
}
.remember__parent
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}
.remember__checkbox
{
    width: 15px;
    height: 15px;
}
.remember__label
{
    font-size: 15px;
    height: 21px;
}
