.right__part
{
    margin-bottom: 40px !important;
}
.right__part .left
{
    width: 292px;
    height: 100%;
    position: relative;
    top: -17px;
}
.right__part .left .total__result
{
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.right__part .left .total__result span
{
    font-size: 25px;
    font-weight: 700;
    color: #00B728;
}
.right__part .left .graph__parent {
    background: #9bc3ff;
    border-radius: 20px;
    overflow: hidden;
    width: 292px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 292px;
}
.right__part .left .graph__parent canvas
{
    width: 272px !important;
    height: 272px !important;
    position: relative;
    top: 10px;
    color: rgb(35, 123, 255);
}
.right__part .left .details
{
    margin-top: 23px;
}
.right__part .left .details p
{
    font-size: 23px;
    margin: 0;
}
.right__part .left .details .d-flex
{
    gap: 12px;
}
.right__part .left .details .element
{
    height: 40px;
    width: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
}
.right__part .left .details .element:nth-child(1)
{
    background-color: #84FF7D;
    font-size: 23px;
}
.right__part .left .details .element:nth-child(2)
{
    background-color: #5FE0FD;
}
.right__part .left .details .element:nth-child(3)
{
    background-color: #FF7C7C;
    font-size: 18px;
}
.right__part .left .details .element:nth-child(4)
{
    background-color: #FDF05F;
    font-size: 18px;
}
.right__part .left .details .element:nth-child(2)
{
    font-size: 21px;
}
.right__part .left .details .element:nth-child(3) p
{
    font-size: 18px;
}
.right__part .left .details .element:nth-child(4) p
{
    font-size: 18px;
}
.right__part .left .details .element p
{
    margin: 0;
    position: relative;
    top: 0.5px;
}
.right__part .right
{
    width: 446px;
    height: 600px;
    margin-left: 40px;
    position: relative;
    top: -10px;
}
.right__part .right h1:nth-child(1)
{
    font-size: 30px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    position: relative;
    right: 8px;
}
.right__part .right .d-flex
{
    display: flex;
    width: 450px;
    height: 509px;
    overflow: auto;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 21px 34px;
    margin-top: 9px;
}
.right__part .right .d-flex .item
{
    width: 194px;
    height: 194px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
}
.right__part .right .d-flex .item img
{
    width: 194px;
    height: 194px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}
.right__part .right .d-flex .item .background
{
    width: 194px;
    height: 194px;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.479);
}
.right__part .right .d-flex .item h1
{
    z-index: 2;
    text-align: center;
    line-height: 0.7;
    position: relative;
    top: 5px;
}
.right__part .right .d-flex .item h1 .grade
{
    color: #8E98FF;
    font-size: 46px;
    font-weight: 600;
}
.right__part .right .d-flex .item h1 .start_end
{
    color: white;
    font-size: 25px;
}
.right__part .right .d-flex .blank
{
    width: 194px;
    height: 194px;
    background-color: #D9D9D9;
}
.right__part .right .d-flex .blank_small
{
    width: 194px;
    height: 79px;
    background-color: #D9D9D9;
}
.right__part .right .more
{
    margin-top: 9px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
